.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
}

#toggleBtn {
  display: block;
  margin: 0 auto;
}

#ball {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.jumping {
  animation: jump 0.5s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -200px);
  }
}
